/**
 * Created by Akiba on 2014/8/7.
 */

body {
    background: none repeat scroll 0 0 #fff;
    color: #fff;
    font-family: "Microsoft YaHei","Î¢ÈíÑÅºÚ","Hiragino Sans GB","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif,Lucida,Verdana,Serif;
    font-size: 62.5%;
}

.pageload-overlay::after,
.pageload-overlay::before {
    content: '';
    position: fixed;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    z-index: 1000;
}
.pageload-overlay::after {
    background: #6cc88a;
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
    -webkit-animation: moveRight 0.8s linear infinite alternate;
    animation: moveRight 0.8s linear infinite alternate;
}

.pageload-overlay::before {
    background: #4fc3f7;
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
    -webkit-animation: moveLeft 0.8s linear infinite alternate;
    animation: moveLeft 0.8s linear infinite alternate;
}

.pageload-overlay {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

@-webkit-keyframes moveRight {
    to { -webkit-transform: translateX(40px); }
}

@keyframes moveRight {
    to { transform: translateX(40px); }
}

@-webkit-keyframes moveLeft {
    to { -webkit-transform: translateX(-40px); }
}

@keyframes moveLeft {
    to { transform: translateX(-40px); }
}